body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 232, 190);
}

header {
    background-color: rgb(247, 208, 135);
    display: flex;
    padding-left: 3%;
    align-items: center;
    height: 100px;
    box-shadow: 0 1px 4px ;
}

.linhaMore{
    padding-left: 60%;
    display: flex;
    gap: 1%;
    list-style: none;
}

@media (max-width: 600px) {
    .linhaMore{
        padding-left: 40%;
    }
    
}

a{
    text-decoration: none;
    color: rgb(90, 60, 30); 
    transition: 0.3s;
}

.linha{
    transition: 0.3s;
}

.linha:hover{
    transition: 0.3s;
    scale: 1.2;
    
}

footer{
    padding-top: 100px;
    text-align: center;
}
.nomeSite{
    font-size: 22px;
    font-weight: bold;
    color: rgb(90, 60, 30);
}