body{
    margin: 0;
    padding: 0;
    background-image: url("/imagens/FundoSite.png");
    background-size: 1600px;
    background-position: center top;
    background-repeat: no-repeat;
}

.ola{
    text-align: center;
    color: rgb(74, 44, 26);
    font-size: 90px;
    padding-top: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.paraVitrine{
    width: 500px;
    padding: 20px;
    background: rgb(255, 232, 190);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
    text-align: center;
    margin: 0 auto;
}

h2{
    color: rgb(74, 44, 26);
}

.botaoVitrine{
    border-radius: 1000px;
    border: none;
    width: 200px;
    font-size: 20px;
    height: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
    color: rgb(90, 60, 30); 
    background-color: rgb(247, 208, 135);
}
.form{
    padding-left: 660px;
}

.conte{
    padding-bottom: -100px;
}



