body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 232, 190);
}

header {
    background-color: rgb(247, 208, 135);
    display: flex;
    padding-left: 40px;
    align-items: center;
    height: 100px;
    box-shadow: 0 1px 4px ;
}

.linhaMore{
    padding-left: 820px;
    display: flex;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(90, 60, 30); 
    transition: 0.3s;
}

.nomeSite{
    font-size: 22px;
    font-weight: bold;
    color: rgb(90, 60, 30);
}
.linha{
    transition: 0.3s;
}

.linha:hover{
    transition: 0.3s;
    scale: 1.2;
    
}

tr{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 130px;
    padding-top: 80px;
}

td{
    padding: 30px 20px;
    background: rgb(255, 232, 190);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
    text-align: center;
    margin: 0 auto;
}

.Donut{
    height: 200px;
}