body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 232, 190);
    background-image: url("../imagens/FundoSite.png");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
.caixona{
    justify-self: center;
    justify-items: center;
    padding: 2%;
    margin-top: 200px;
    background: rgb(251, 218, 159);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
}

h1{
    padding: 0px;
    margin-top: 0px;
    padding-right: 100px;
    font-size: 20px;
}

.nome{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: rgb(90, 60, 30); 
}

button{
    margin-top: 10px;
}